body {
    /* background: #252834; */
    background: #1c252d;
    overflow-x: hidden;
}

body .MuiContainer-maxWidthLg {
    max-width: 1400px;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.main {
    padding: 40px;
    max-width: 2000px;
}

.newChapter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 100px 5px 5px 100px;
    text-decoration: none;
    background: #283440;
    color: #fff;
    -webkit-border-radius: 100px 5px 5px 100px;
    -moz-border-radius: 100px 5px 5px 100px;
    -ms-border-radius: 100px 5px 5px 100px;
    -o-border-radius: 100px 5px 5px 100px;
}
.newChapter.recentChapter {
    background: #34465b;
}

.newChapter.recentChapter .mangaTitle::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    background-position: -64px 0;
    height: 14px;
    width: 13px;
    background: url("./assets/images/fire.svg");
}

.newChapter:hover {
    background: #34465b;
}
.newChapter.recentChapter:hover {
    background: #283440;
}

.newChapterImg {
    border-radius: 100px;
    margin-right: 15px;
    width: 65px;
    height: 65px;
}
body .titlePage {
    color: #fff;
    margin: 1em 0;
    text-transform: uppercase;
}
.containerInfo {
    position: relative;
}
.loadingInfo {
    position: absolute;
    left: 50%;
}

/* FORM */
form .MuiInput-underline:before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.42);
}
form .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid rgba(158, 210, 255, 0.5);
}
form .MuiInput-underline:after {
    border-bottom: 2px solid rgb(158, 210, 255);
}
form .MuiFormLabel-root.Mui-focused {
    color: rgb(158, 210, 255);
}
form {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: auto;
    padding: 34px 50px 50px;
    margin: 0 auto;

    background: #283440;
}
form .MuiButton-containedPrimary,
form .MuiFab-primary {
    background: rgb(158, 210, 255);
}
form .MuiButton-containedPrimary:hover,
form .MuiFab-primary:hover {
    background: #8ebde6;
}
form .MuiFab-primary svg,
form .MuiButton-containedPrimary .MuiButton-label,
form .MuiFab-primary .MuiButton-label {
    color: #283440;
}

.logs_page form label,
.logs_page form input,
.logs_page form textarea,
.formAdd label,
.formAdd input,
.formAdd textarea {
    color: #fff;
}
.formAdd input:focus,
.formAdd textarea:focus {
    color: #8ebde6;
}

.logs_page form button {
    margin-top: 20px;
    padding: 15px;
}
.logs_page form button.Mui-disabled span {
    color: rgba(255, 255, 255, 0.5) !important;
}

/* Page de connexion / inscription */
.logs_page * {
    color: #fff;
}
.logs_page h1 {
    text-align: center;
}
.logs_page p {
    max-width: 1000px;
    margin: 20px auto 0;
}
.logs_page p a {
    text-decoration: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
